.topicSidebar {
  width: 275px;
  height: 100vh;
  border-right: 1px solid black;
}

.topicHeader {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

.topicHeader h2 {
  font-weight: 600;
  margin-left: 0.8ch;
  margin-top: 0%;
  margin-bottom: 0%;
}

.topicSidebarList {
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  padding-left: 0%;
}