.topicSidebar {
  display: inline-block;
  width: 275px;
  height: 100vh;
  border-right: 1px solid black;
}

.topicSidebar h2 {
  margin-left: 0.8ch;
}

.topicSidebarList {
  list-style: none;
  padding-left: 0%;
}