*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0%;
  color: #333333;
}

hr {
  margin: 0%;
}

.appContainer {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: min-content auto min-content;
  gap: 1rem;
}

.appCanvas {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: 50px auto 50px;
}

.topicSidebarButton {
  width: 35px;
  height: 35px;
  border: 1px solid black;
  border-radius: 15%;
  background: transparent;
}

.mainWrapper {
	max-width: 100%;
	margin: 0 auto;
}

.icons {
  color: black;
}

.topicSidebarItem {
  font-size: 1.3rem;
  width: 100%;
  height: 40px;
}

.topicSidebarItem a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topicSidebarItem a:hover,
.topicSidebarItem a:active {
  background-color: #F5F5F5;
}

.topicSidebarItem a:focus {
  background-color: #F5F5F5;
  outline: none;
}

.topicSidebarItem a:focus-visible {
	outline: 1px solid black;
}

.topicSidebar {
  width: 275px;
  height: 100vh;
  border-right: 1px solid black;
}

.topicHeader {
  padding-top: 20px;
  padding-left: 0%;
  padding-bottom: 20px;
}

.topicHeader h2 {
  font-weight: 600;
  margin-left: 0.8ch;
  margin-top: 0%;
  margin-bottom: 0%;
}

.topicSidebarList {
  list-style: none;
  padding: 0% 0% 0% 1ch;
  margin: 0%;
  width: 100%
}